fastapi             
uvicorn[standard]   
sqlmodel            
sqlalchemy          
pydantic            
alembic             
httpx               
pandas              
redis               
celery              
bcrypt              
python-jose         
python-dotenv       
pytest              
pytest-asyncio      
pytest-cov          
black               
flake8              
mypy                
pre-commit          
jwt                 #